<header>
  <nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3'>
    <div class="container">
      <div class="navbar-collapse collapse d-sm-inline-flex " [ngClass]='{"show": isExpanded}'>
        <ul class="navbar-nav flex-grow">
          <li *ngFor="let item of Menu" class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
            <a class="nav-link text-dark" [routerLink]="[item.menuName]">{{item.menuName}}</a>
              <!--<a class="nav-link text-dark">{{item.menuName}}</a>-->
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
